body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%
}

html {
  height: 100vh;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  height: 100%;
  display: flex;
}

.button_password {
  position: absolute;
  color:black;
  background-color: rgb(38, 138, 255);
  border: 1px solid rgb(38, 138, 255);
  border-radius: 5px;
  box-shadow: 0px 5px 0px rgb(14, 83, 163);
  position: relative;
  top: 0px;
  transition: all ease 0.3s;
  width: 150px;
  height: 40px;
  color: white
}
.button_password:active {
  box-shadow: 0 3px 0 rgb(14, 83, 163);
  top: 3px;
}
.button_password:focus{
  outline: none
}

.delai {
  height: 300px;
  width: 300px;
  border: 2px solid rgb(9, 11, 100);
  text-align: center;
  align-items: center;
  margin: auto;
}

button {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  margin-top: 30px
}

input{
  font-size: 14px;
  padding: 10px;
  width: 200px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none 
}

.photo_user{
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.Header{
  width: 100%;
  height: 60px;
  background-color: rgb(160, 189, 243)
}

.header-profile {
  justify-content: flex-end;  
  margin-right: 10px;
  display: flex;
  align-items: center;
  padding-top: 5px;
}

.Header_name_surname{
  margin-right: 12px;
}

.Item {
  width: 100%;
}